@import "@fontsource-variable/ibm-plex-sans";
@import "@fontsource/ibm-plex-mono";

@import "tailwindcss";
@import "../src/styles/highlight.css";

@theme {
  --font-sans: "IBM Plex Sans Variable", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
}

.cm-editor {
  @apply h-full w-full border-2 border-gray-400 rounded-lg
}

.cm-editor.cm-focused {
  @apply focus-within:outline focus-within:outline-2 focus-within:outline-purple-600
}

.cm-content {
  @apply font-sans data-[stheno-lang-value=json]:font-mono
}

.cm-panels-top {
  @apply rounded-t-lg
}

.cm-panels-bottom {
  @apply rounded-b-md
}
